.container {
  width: 80%;
  margin: 0 auto;

  .login-wrap {
    color: #ccc;
    display: flex;
    font-size: 26rpx;
    justify-content: space-between;
    align-items: center;

    .login-left {
      display: flex;
      align-items: center;

      i {
        padding-right: 20rpx;
      }

      image {
        width: 60rpx;
        height: 60rpx;
        border-radius: 60rpx;
        margin-right: 20rpx;
      }

    }

    .login-right {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150rpx;
      height: 60rpx;
      color: #666;
      border: 1rpx #eee solid;
      border-radius: 40rpx;
    }
  }

  .page-section-spacing {
    margin-top: 20rpx;

    .scroll-view_H {
      white-space: nowrap;

      .scroll-view-item_H {
        display: inline-block;
        width: 100%;
        border-radius: 10rpx;
        height: 100%;
        overflow: hidden;

        .ranking-wrap {
          height: 65vh;
          white-space: normal;

          .ranking-detail {
            margin-top: 20rpx;
            display: flex;

            image {
              width: 220rpx;
              height: 220rpx;
              border-radius: 8px;
            }

            view {
              margin-left: 20rpx;
              display: flex;
              flex-direction: column;
              justify-content: space-around;

              view {
                color: #666;
                //多行超出隐藏
                width: 350rpx;
                display: -webkit-box;
                word-break: break-all;
                text-overflow: ellipsis;
                font-size: 28rpx; //自适应字体
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1; //设置 需要显示的行数
              }
            }

          }

          .ranking-detail2 {
            display: inline-block;

            image {
              width: 12vh;
              height: 12vh;
              border-radius: 8px;
              margin: 0 0.7vh;
            }
          }
        }

      }
    }
  }


  .banner {
    margin-top: 30rpx;
    display: flex;
    justify-content: center;
    height: 250rpx;
    .banner-item {
      border-radius: 10rpx;
      .banner-img {
        height: 250rpx;
        overflow: hidden;
      }

      .banner-title {
        // position: absolute;
        // bottom: 50rpx;
        // right: 10rpx;
        // color: #fff;
        // background-color: rgba(128,128,128,.3);
      }
    }

  }
}

// 设置轮播图 指示点的位置
// .wx-swiper-dots {
//   position: relative;
//   bottom: 60rpx !important;
// }