.renking {
  margin-top: 138rpx;
  .bg-wrap {
    color: #fff;
    height: 500rpx;
    width: 100%;
    display: flex;
    .bg-img {
      position: absolute;
      filter: blur(2rpx);
      height: 650rpx;
      width: 100%;
      z-index: -1;
    }

    .logo {
      position: relative;
      text{
        position: absolute;
        top: 100rpx;
        left: 235rpx;
      }
      image{
        margin: 100rpx 50rpx 0 40rpx;
        width: 300rpx;
        height: 300rpx;
        border-radius: 16rpx;
      }

    }

    .info {
      margin-top: 100rpx;

      .title {
        font-size: 45rpx;
        display: -webkit-box;  /*设置为弹性盒子*/
        -webkit-line-clamp: 1;  /*最多显示5行*/
        overflow: hidden;  /*超出隐藏*/
        text-overflow: ellipsis;  /*超出显示为省略号*/
        -webkit-box-orient: vertical;
        word-break: break-all;  /*强制英文单词自动换行*/
      }

      .rc {
        display: flex;
        align-items: center;
        font-size: 30rpx;
        margin: 50rpx 0;
        image{
          width: 45rpx;
          height: 45rpx;
          margin-right: 15rpx;
        }
      }

      .introduce {
        color: #ddd;
        font-size: 24rpx;
        width: 300rpx;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }
    }
  }

  .renking-detail {
    width: 100%;
    position: absolute;
    top: 620rpx;
    background-color: #fff;
    border-top-left-radius: 40rpx;
    border-top-right-radius: 40rpx;
    box-shadow: 11px -4px 30px 0px #ccc;

    .play-wrap {
      width: 80%;
      margin: 20rpx auto;


      font-size: 38rpx;
    }

    .music-wrap {
      width: 80%;
      margin: 30rpx auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .music-info {
        .music-name {
          font-size: 36rpx;
        }

        .sing-name {
          color: #aaa;
          font-size: 28rpx;
        }
      }

      .iconfont {
        color: #bbb;
      }
    }

  }
  .play-control{
    position: fixed;
    height: 142rpx;
    background-color: #eee;
    border-top-right-radius: 20rpx;
    border-top-left-radius: 20rpx;
    bottom: 0rpx;
    right: 0;
    left: 0;
  }
}